@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: gillix;
    src: url(/assets/fonts/gillix/gellix-regular.woff2) format("woff2"),
      url(/assets/fonts/gillix/gellix-semibold.woff2) format("woff2");
  }
  @font-face {
    font-family: domaine;
    src: url(/assets/fonts/domaine/domaine-regular.woff2) format("woff2"),
      url(/assets/fonts/domaine/domaine-bold.woff2) format("woff2");
  }
}
@layer components {
  body {
    @apply font-domaine;
  }
  a,
  li {
    @apply tracking-wide font-gillix;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-gillix text-secondary;
  }
  p {
    @apply font-gillix text-secondary;
  }

  @media (max-width: 1199px) {
    .oza-container {
      max-width: 100%;
      margin-right: 1.875rem;
      margin-left: 1.875rem;
    }

    .testimonial-container {
      max-width: 100%;
      margin-left: 1.875rem;
    }
  }

  @media (min-width: 1200px) {
    .oza-container {
      max-width: 1130px;
      margin-right: auto;
      margin-left: auto;
    }

    .testimonial-container {
      max-width: 1250px;
      margin-left: auto;
    }
  }

  @media (min-width: 1400px) {
    .oza-container {
      max-width: 1250px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-right: auto;
      margin-left: auto;
    }

    .testimonial-container {
      max-width: 1460px;
      padding-left: 1.5rem;
      margin-left: auto;
    }
  }
  .btn-md {
    @apply px-8 py-3 text-sm font-bold text-white rounded bg-primary font-gillix;
  }
}

.font-domaine {
  font-family: domaine, sans-serif;
}

.font-gillix {
  font-family: gillix, sans-serif;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(2 5 83 / var(--tw-text-opacity));
}

.bg-primaryShade {
  --tw-bg-opacity: 1;
  background-color: rgb(215 231 255 / var(--tw-bg-opacity));
}

.btn-lg {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(25 67 220 / var(--tw-bg-opacity));
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: gillix, sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
